html {
	height: 100%;
}
body {
	padding-top: 80px;
	padding-bottom: 40px;
	background: #333 url('../../assets/subtlepatterns/white_carbonfiber.png') repeat;

	background-color: rgba(74,121,147,0.89);

	background: rgb(73,155,234); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(73,155,234,.45) 0%, rgba(32,124,229,.45) 100%),url("../assets/subtlepatterns/white_carbonfiber.png"); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(73,155,234,.45)), color-stop(100%,rgba(32,124,229,.45))),url("../assets/subtlepatterns/white_carbonfiber.png"); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(73,155,234,.65) 0%,rgba(32,124,229,.65) 100%),url("../assets/subtlepatterns/white_carbonfiber.png"); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(73,155,234,.65) 0%,rgba(32,124,229,.65) 100%),url("../assets/subtlepatterns/white_carbonfiber.png"); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(73,155,234,.65) 0%,rgba(32,124,229,.65) 100%),url("../assets/subtlepatterns/white_carbonfiber.png"); /* IE10+ */
background: linear-gradient(135deg,  rgba(73,155,234,.65) 0%,rgba(32,124,229,.65) 100%),url("../assets/subtlepatterns/white_carbonfiber.png"); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

   	margin: 0;
   	height: 100%;
   	width: 100%;
}

.navbar {
	/*font-size: 1rem;*/
}
.brand {
	line-height: 1.5em;
}
.navbar.navbar-inverse .navbar-inner {
	border-radius: 0;
	min-height: 30px;
}