@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { /* STYLES GO HERE */}

.contentBucket {
	padding: 19px 29px 9px;
	margin: 0 auto 20px;
	background-color: rgba(255,255,255,.9);
	border: 1px solid #888;
	border-radius: 5px;
	box-shadow: 0 0 10px 1px rgba(100,100,100,.45);
}